:local(.app) {

  h1 {
    color: #2c3e50;
  }
  
  header {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: steelblue;
  }

  nav-ul {
    align-content: center;
  }

  main {
    margin: 0% 4% 0% 4%;
  }

  a {
    text-decoration: none;
    color: #2c3e50;
    font-weight: bold;
  }

  a:hover {
    text-decoration: underline;
    color: white;
  }

  a:active {
    color: rgb(72, 6, 72);
  }

  button {
    cursor: pointer;
    margin: 4px;
    font-size: 12px;
    border: 2px solid steelblue;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }

  button:hover {
      background-color: steelblue; 
      color: white;
  }
}